<!DOCTYPE html>
<html>
  <head>
    <title>Issues</title>
    <meta name="description" content="A thing made by Jordy Ferdian">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/styleIssue.css">
  </head>
  <body>
    <header>
      <h1 id='projectTitle'></h1>
    </header>
    <center>
      <div id='submitNewIssue'>
        <br>
        <h3>Submit a new issue:</h3>
        <form id="newIssue" method="post" action="/api/">
          <input type="text" name="issue_title" placeholder="*Title" style="width: 320px; margin-bottom: 3px;" required=''><br>
          <textarea type="text" name="issue_text" placeholder="*Text" style="width: 320px; height: 100px;" required=''></textarea><br>
          <input type="text" name="created_by" placeholder="*Created by" style="width: 100px" required=''>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px">
          <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
          <button type="submit">Submit Issue</button>
        </form>
      </div>
      
      <div id='issueDisplay'></div>
      
      <hr style='margin: 50px; margin-top: 200px'>
    </center>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous"></script>
    <script src="/public/issueScript.js" id="issueScript" query.issue_title='<%= query.issue_title %>' 
    query.issue_text='<%= query.issue_text%>' query.created_by='<%= query.created_by%>'
    query.assigned_to='<%= query.assigned_to%>' query.status_text='<%= query.status_text%>'
    query.created_on_from='<%= query.created_on_from%>' query.created_on_to='<%= query.created_on_to%>'
    query.updated_on_from='<%= query.updated_on_from%>' query.updated_on_to='<%= query.updated_on_to%>'
    query.open='<%=query.open%>'>
   </script>
  </body>
</html>